<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sample</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Milk</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Eggs</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Peaches</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Potatoes</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tomatoes</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

